In [1]:
import pandas
data = pandas.read_csv("./saved/pcnn_att_nyt2_none_53_n_0_0.3455_probabs_preds.csv", header = None, prefix = "col")

In [3]:
data.col0

0                       Syracuse#Onondaga Lake#48
1                                 Turkey#Adana#48
2                          Queens#Belle Harbor#48
3                                Hokusai#Japan#28
4               Chandrika Kumaratunga#Sri Lanka#8
5                           California#McCloud#48
6                      Pietro Annigoni#Florence#9
7                    Barbara Stanwyck#Brooklyn#36
8                           Jorge Amado#Brazil#28
9                   Lauren Conrad#Laguna Beach#36
10                       Roland Barthes#France#28
11                  North Carolina#Mooresville#48
12                          Amway#Richard DeVos#6
13                     Simone de Beauvoir#Paris#8
14                     Europe#Northern Ireland#48
15                         Peter Pace#Brooklyn#36
16                                 Ohio#Celina#48
17                        Wilkie Collins#London#9
18                Barnett Newman#New York City#36
19                   Manhattan#Lower East Side#48
20                             France#Limousin#48
21                      Brooklyn#Wyckoff House#48
22                      John Constable#England#28
23                       Hamptons#East Hampton#48
24            Republic of Ireland#County Louth#48
25                 Vancouver Island#View Royal#48
26                        Sergio Leone#Italian#33
27                  Harry S. Truman#Kansas City#9
28                Pacific Heights#San Francisco#1
29                      Florida#Pembroke Pines#48
                           ...
280546                Brad Paisley#Dolly Parton#0
280547                    Arlen Specter#Clinton#0
280548                  Woody Allen#Victor Argo#0
280549                               Dow#Boeing#0
280550                  Ichiro Suzuki#Jim Thome#0
280551                        Felix Schutz#John#0
280552                 Ashley Battle#Mel Thomas#0
280553                              Bronx#Ghana#0
280554            Meryl Streep#Garrison Keillor#0
280555         Reese Witherspoon#Clint Eastwood#0
280556                        Richard#Manhattan#0
280557                    Robert Jaffe#New York#0
280558     Vincent F. Seyfried#Long Island City#0
280559                             Ronald#Royce#0
280560                              Jane#London#0
280561                             Ohio#Wilkins#0
280562                      Clarksdale#Williams#0
280563                     Fresno#United States#0
280564                            Roxbury#Miami#0
280565                         New York#Kipling#0
280566           Gerald Williams#Kerry Robinson#0
280567    Standard Chartered Bank#United States#0
280568                      East London#Stepney#0
280569          Sacred Heart Church#Dobbs Ferry#0
280570               Boston Scientific#Billings#0
280571                               Lisa#Karma#0
280572               Jack Kirby#Harvey Kurtzman#0
280573                 South America#New Jersey#0
280574                     Zandra Rhodes#London#0
280575               Michael Moore#Jeff Daniels#0
Name: col0, Length: 280576, dtype: object

In [8]:
class_count = {}
for classes in range(53):
    class_count[classes] = 0

for c in data.col0:
    class_count[int(c.split("#")[2])] += 1

In [9]:
class_count

{0: 262324,
 1: 483,
 2: 1,
 3: 2,
 4: 2,
 5: 0,
 6: 174,
 7: 0,
 8: 1400,
 9: 723,
 10: 7,
 11: 2,
 12: 9,
 13: 24,
 14: 1,
 15: 3,
 16: 2,
 17: 72,
 18: 81,
 19: 1,
 20: 2,
 21: 1,
 22: 2,
 23: 170,
 24: 334,
 25: 3,
 26: 1,
 27: 1,
 28: 2430,
 29: 1417,
 30: 1,
 31: 3,
 32: 1,
 33: 57,
 34: 8,
 35: 24,
 36: 2299,
 37: 22,
 38: 1,
 39: 3,
 40: 3,
 41: 2,
 42: 7,
 43: 8,
 44: 2,
 45: 7,
 46: 3,
 47: 135,
 48: 7758,
 49: 334,
 50: 215,
 51: 7,
 52: 4}

In [11]:
sorted_x = sorted(class_count.items(), key=lambda kv: kv[1], reverse=True)
for k in sorted_x:
    print(k)

(0, 262324)
(48, 7758)
(28, 2430)
(36, 2299)
(29, 1417)
(8, 1400)
(9, 723)
(1, 483)
(24, 334)
(49, 334)
(50, 215)
(6, 174)
(23, 170)
(47, 135)
(18, 81)
(17, 72)
(33, 57)
(13, 24)
(35, 24)
(37, 22)
(12, 9)
(34, 8)
(43, 8)
(10, 7)
(42, 7)
(45, 7)
(51, 7)
(52, 4)
(15, 3)
(25, 3)
(31, 3)
(39, 3)
(40, 3)
(46, 3)
(3, 2)
(4, 2)
(11, 2)
(16, 2)
(20, 2)
(22, 2)
(41, 2)
(44, 2)
(2, 1)
(14, 1)
(19, 1)
(21, 1)
(26, 1)
(27, 1)
(30, 1)
(32, 1)
(38, 1)
(5, 0)
(7, 0)